.create-post {
    .tag-field {
        .control:first-of-type {
            flex: 1 1 0;
        }
    }

    .tags-container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        .tags:last-child {
            margin-bottom: 1rem;
        }

        .tags {
            margin-right: 1rem;
        }
    }

    .main-buttons-container {
        button {
            width: 50%;
        }
    }
}
