.card {
    .content {
        .card-header {
            h1 {
                span {
                    font-size: medium;
                    margin-left: 1em;
                    color: gray;
                }
            }
        }
    }
}
